In [235]:
# Import all the necessary libraries

import numpy as np
import pandas as pd
from datetime import datetime as dt
import itertools

%matplotlib inline

In [236]:
# 20 Mannschaften * 19 = 380 Spiele pro Saison
# 2&3 Liga sogar 24!

In [237]:
# Read data from the CSV into a dataframe

# Python pandas will read a csv file using utf_8 encoding defautly. 
# If the character encoding of this csv file is not utf_8, UnicodeDecodeError may occur.

loc = "/home/max/Dokumente/Projekte/Football_Game_Prediction/Data_Gathering/Premier_Div1_Div2_in_Game/Premier/"
raw_data_1 = pd.read_csv(loc + '2000_2001.csv', sep=',', encoding='gbk')
raw_data_2 = pd.read_csv(loc + '2001_2002.csv', sep=',', encoding='gbk')
raw_data_3 = pd.read_csv(loc + '2002_2003.csv', sep=',', encoding='gbk') 
# raw_data_4 = pd.read_csv(loc + '2003_2004.csv')
# raw_data_5 = pd.read_csv(loc + '2004_2005.csv', sep=';', encoding='gbk')
raw_data_6 = pd.read_csv(loc + '2005_2006.csv', sep=',', encoding='gbk')
raw_data_7 = pd.read_csv(loc + '2006_2007.csv', sep=',', encoding='gbk')
raw_data_8 = pd.read_csv(loc + '2007_2008.csv', sep=',', encoding='gbk')
raw_data_9 = pd.read_csv(loc + '2008_2009.csv', sep=',', encoding='gbk')
raw_data_10 = pd.read_csv(loc + '2009_2010.csv', sep=',', encoding='gbk')
raw_data_11 = pd.read_csv(loc + '2010_2011.csv', sep=',', encoding='gbk')
raw_data_12 = pd.read_csv(loc + '2011_2012.csv', sep=',', encoding='gbk')
raw_data_13 = pd.read_csv(loc + '2012_2013.csv', sep=',', encoding='gbk')
raw_data_14 = pd.read_csv(loc + '2013_2014.csv', sep=',', encoding='gbk')
raw_data_15 = pd.read_csv(loc + '2014_2015.csv', sep=',', encoding='gbk')
raw_data_16 = pd.read_csv(loc + '2015_2016.csv', sep=',', encoding='gbk')
raw_data_17 = pd.read_csv(loc + '2016_2017.csv', sep=',', encoding='gbk')
raw_data_18 = pd.read_csv(loc + '2017_2018.csv', sep=',', encoding='gbk')
raw_data_19 = pd.read_csv(loc + '2018_2019.csv', sep=',', encoding='gbk')
raw_data_20 = pd.read_csv(loc + '2019_2020.csv', sep=',', encoding='gbk')

In [238]:
raw_data_15.drop(raw_data_15.tail(1).index,inplace=True) # drop last n rows

In [239]:
raw_data_15

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E0,16/08/14,Arsenal,Crystal Palace,2.0,1.0,H,1.0,1.0,D,...,2.10,24.0,-1.50,1.81,1.78,2.20,2.10,1.29,5.90,12.75
1,E0,16/08/14,Leicester,Everton,2.0,2.0,D,1.0,2.0,A,...,1.80,22.0,0.25,1.88,1.85,2.10,2.02,3.11,3.40,2.47
2,E0,16/08/14,Man United,Swansea,1.0,2.0,A,0.0,1.0,A,...,2.13,25.0,-1.50,2.18,2.08,1.87,1.79,1.45,4.81,8.25
3,E0,16/08/14,QPR,Hull,0.0,1.0,A,0.0,0.0,D,...,1.58,24.0,0.00,1.80,1.73,2.25,2.14,2.31,3.24,3.59
4,E0,16/08/14,Stoke,Aston Villa,0.0,1.0,A,0.0,0.0,D,...,1.60,23.0,-0.50,1.95,1.91,2.02,1.96,2.01,3.34,4.51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,24/05/15,Hull,Man United,0.0,0.0,D,0.0,0.0,D,...,1.99,25.0,0.50,1.76,1.71,2.27,2.19,3.20,3.76,2.27
376,E0,24/05/15,Leicester,QPR,5.0,1.0,H,2.0,0.0,H,...,2.41,28.0,-1.00,1.98,1.93,1.98,1.93,1.53,4.94,6.13
377,E0,24/05/15,Man City,Southampton,2.0,0.0,H,1.0,0.0,H,...,2.66,28.0,-1.00,2.00,1.94,2.03,1.93,1.60,4.35,6.00
378,E0,24/05/15,Newcastle,West Ham,2.0,0.0,H,0.0,0.0,D,...,2.25,25.0,-0.50,1.82,1.78,2.20,2.10,1.76,4.01,4.98
379,E0,24/05/15,Stoke,Liverpool,6.0,1.0,H,5.0,0.0,H,...,1.99,25.0,0.25,2.07,2.02,1.88,1.85,3.56,3.60,2.17

In [240]:
raw_data_14.Date

0      17/08/13
1      17/08/13
2      17/08/13
3      17/08/13
4      17/08/13
         ...
375    11/05/14
376    11/05/14
377    11/05/14
378    11/05/14
379    11/05/14
Name: Date, Length: 380, dtype: object

In [241]:
# Parse data as time 

def parse_date(date):
    if date == '':
        return None
    else:
        return dt.strptime(date, '%d/%m/%y').date()
    

def parse_date_other(date):
    if date == '':
        return None
    else:
        return dt.strptime(date, '%d/%m/%Y').date()

# funktion brauche ich nicht: form nur für obigen zwei!
def parse_date_other_2(date):
    if date == '':
        return None
    else:
        return dt.strptime(date, '%Y-%m-%d').date()

In [242]:
raw_data_1.Date = raw_data_1.Date.apply(parse_date)    
raw_data_2.Date = raw_data_2.Date.apply(parse_date)    
raw_data_3.Date = raw_data_3.Date.apply(parse_date_other)          
# raw_data_4.Date = raw_data_4.Date.apply(parse_date)    
# raw_data_5.Date = raw_data_5.Date.apply(parse_date)    
raw_data_6.Date = raw_data_6.Date.apply(parse_date)    
raw_data_7.Date = raw_data_7.Date.apply(parse_date)    
raw_data_8.Date = raw_data_8.Date.apply(parse_date)    
raw_data_9.Date = raw_data_9.Date.apply(parse_date)    
raw_data_10.Date = raw_data_10.Date.apply(parse_date)
raw_data_11.Date = raw_data_11.Date.apply(parse_date)
raw_data_12.Date = raw_data_12.Date.apply(parse_date)
raw_data_13.Date = raw_data_13.Date.apply(parse_date)
raw_data_14.Date = raw_data_14.Date.apply(parse_date)
raw_data_15.Date = raw_data_15.Date.apply(parse_date)
raw_data_16.Date = raw_data_16.Date.apply(parse_date_other)
raw_data_17.Date = raw_data_17.Date.apply(parse_date)
raw_data_18.Date = raw_data_18.Date.apply(parse_date_other)
raw_data_19.Date = raw_data_19.Date.apply(parse_date_other)
raw_data_20.Date = raw_data_20.Date.apply(parse_date_other)

In [243]:
#Gets all the statistics related to gameplay
                      
columns_req = ['Date','HomeTeam','AwayTeam','FTHG','FTAG','FTR', "HS", "AS", "HST", "AST", "HC", 
                          "AC", "HF", "AF", "HY", "AY", "HR", "AR"]

playing_statistics_1 = raw_data_1[columns_req]    
playing_statistics_2 = raw_data_2[columns_req]   
playing_statistics_3 = raw_data_3[columns_req]    
#playing_statistics_4 = raw_data_4[columns_req]   
#playing_statistics_5 = raw_data_5[columns_req]  
playing_statistics_6 = raw_data_6[columns_req]    
playing_statistics_7 = raw_data_7[columns_req]    
playing_statistics_8 = raw_data_8[columns_req] 
playing_statistics_9 = raw_data_9[columns_req]    
playing_statistics_10 = raw_data_10[columns_req]    
playing_statistics_11 = raw_data_12[columns_req]  
playing_statistics_12 = raw_data_12[columns_req]  
playing_statistics_13 = raw_data_13[columns_req]  
playing_statistics_14 = raw_data_14[columns_req] 
playing_statistics_15 = raw_data_15[columns_req]   
playing_statistics_16 = raw_data_16[columns_req]
playing_statistics_17 = raw_data_17[columns_req] 
playing_statistics_18 = raw_data_18[columns_req]  
playing_statistics_19 = raw_data_19[columns_req]  
playing_statistics_20 = raw_data_20[columns_req]

In [244]:
playing_statistics_17

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HS,AS,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR
0,2016-08-13,Burnley,Swansea,0,1,A,10,17,3,9,7,4,10,14,3,2,0,0
1,2016-08-13,Crystal Palace,West Brom,0,1,A,14,13,4,3,3,6,12,15,2,2,0,0
2,2016-08-13,Everton,Tottenham,1,1,D,12,13,6,4,5,6,10,14,0,0,0,0
3,2016-08-13,Hull,Leicester,2,1,H,14,18,5,5,5,3,8,17,2,2,0,0
4,2016-08-13,Man City,Sunderland,2,1,H,16,7,4,3,9,6,11,14,1,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,2017-05-21,Liverpool,Middlesbrough,3,0,H,25,9,10,3,3,3,13,8,0,1,0,0
376,2017-05-21,Man United,Crystal Palace,2,0,H,9,6,2,1,3,6,16,10,2,0,0,0
377,2017-05-21,Southampton,Stoke,0,1,A,14,14,6,3,4,10,12,10,2,4,0,0
378,2017-05-21,Swansea,West Brom,2,1,H,12,16,2,5,7,4,8,10,1,1,0,0
379,2017-05-21,Watford,Man City,0,5,A,6,15,3,9,4,5,12,10,1,0,0,0

** GOALS SCORED AND CONCEDED AT THE END OF MATCHWEEK, ARRANGED BY TEAMS AND MATCHWEEK **

Bundesliga sind 18 Teams => 18x17 sind 306 Spiele
Premier League: sind 20 Teams => 20x19 sind 380 Spiele
=> ändere if ((i + 1)% 9) == 0: zu if ((i + 1)% 10) == 0:

In [245]:
# alle 302 mit 380 ersetzen!
# Shape of passed values is (38, 20), indices imply (34, 20) => jede 39 mit 39 ersetzen!

# Gets the goals scored agg arranged by teams and matchweek
def get_goals_scored(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        HTGS = playing_stat.iloc[i]['FTHG']
        ATGS = playing_stat.iloc[i]['FTAG']
        teams[playing_stat.iloc[i].HomeTeam].append(HTGS)
        teams[playing_stat.iloc[i].AwayTeam].append(ATGS)
    
    # Create a dataframe for goals scored where rows are teams and cols are matchweek.
    GoalsScored = pd.DataFrame(data=teams, index = [i for i in range(1,39)]).T
    GoalsScored[0] = 0
    # Aggregate to get uptil that point
    for i in range(2,39):
        GoalsScored[i] = GoalsScored[i] + GoalsScored[i-1]
    return GoalsScored



# Gets the goals conceded agg arranged by teams and matchweek
def get_goals_conceded(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        ATGC = playing_stat.iloc[i]['FTHG']
        HTGC = playing_stat.iloc[i]['FTAG']
        teams[playing_stat.iloc[i].HomeTeam].append(HTGC)
        teams[playing_stat.iloc[i].AwayTeam].append(ATGC)
    
    # Create a dataframe for goals scored where rows are teams and cols are matchweek.
    GoalsConceded = pd.DataFrame(data=teams, index = [i for i in range(1,39)]).T
    GoalsConceded[0] = 0
    # Aggregate to get uptil that point
    for i in range(2,39):
        GoalsConceded[i] = GoalsConceded[i] + GoalsConceded[i-1]
    return GoalsConceded

def get_gss(playing_stat):
    GC = get_goals_conceded(playing_stat)
    GS = get_goals_scored(playing_stat)
   
    j = 0
    HTGS = []
    ATGS = []
    HTGC = []
    ATGC = []

    for i in range(380):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        HTGS.append(GS.loc[ht][j])
        ATGS.append(GS.loc[at][j])
        HTGC.append(GC.loc[ht][j])
        ATGC.append(GC.loc[at][j])
        
        if ((i + 1)% 10) == 0:
            j = j + 1
        
    playing_stat['HTGS'] = HTGS
    playing_stat['ATGS'] = ATGS
    playing_stat['HTGC'] = HTGC
    playing_stat['ATGC'] = ATGC
    
    return playing_stat

In [246]:
# Apply to each dataset

playing_statistics_1 = get_gss(playing_statistics_1)
playing_statistics_2 = get_gss(playing_statistics_2)
playing_statistics_3 = get_gss(playing_statistics_3)
#playing_statistics_4 = get_gss(playing_statistics_4)
#playing_statistics_5 = get_gss(playing_statistics_5)
playing_statistics_6 = get_gss(playing_statistics_6)
playing_statistics_7 = get_gss(playing_statistics_7)
playing_statistics_8 = get_gss(playing_statistics_8)
playing_statistics_9 = get_gss(playing_statistics_9)
playing_statistics_10 = get_gss(playing_statistics_10)
playing_statistics_11 = get_gss(playing_statistics_11)
playing_statistics_12 = get_gss(playing_statistics_12)
playing_statistics_13 = get_gss(playing_statistics_13)
playing_statistics_14 = get_gss(playing_statistics_14)
playing_statistics_15 = get_gss(playing_statistics_15)
playing_statistics_16 = get_gss(playing_statistics_16)
playing_statistics_17 = get_gss(playing_statistics_17)
playing_statistics_18 = get_gss(playing_statistics_18)
playing_statistics_19 = get_gss(playing_statistics_19)
playing_statistics_20 = get_gss(playing_statistics_20)

# danach immer kopieren und befehlt get_gss mit jeweiliger funktion für alle ersetzen! + loops verbessern!

<ipython-input-245-744d34d6ae2f>:71: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['HTGS'] = HTGS
<ipython-input-245-744d34d6ae2f>:72: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['ATGS'] = ATGS
<ipython-input-245-744d34d6ae2f>:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['HTGC'] = HTGC
<ipython-input-245-744d34d6ae2f>:74: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['ATGC'] = ATGC

In [247]:
playing_statistics_2[['Date', "HomeTeam", "AwayTeam", "FTHG", "FTAG", "HTGS", "ATGS", "HTGC", "ATGC"]].head(60)

,Date,HomeTeam,AwayTeam,FTHG,FTAG,HTGS,ATGS,HTGC,ATGC
0,2001-08-18,Charlton,Everton,1,2,0,0,0,0
1,2001-08-18,Derby,Blackburn,2,1,0,0,0,0
2,2001-08-18,Leeds,Southampton,2,0,0,0,0,0
3,2001-08-18,Leicester,Bolton,0,5,0,0,0,0
4,2001-08-18,Liverpool,West Ham,2,1,0,0,0,0
5,2001-08-18,Middlesbrough,Arsenal,0,4,0,0,0,0
6,2001-08-18,Sunderland,Ipswich,1,0,0,0,0,0
7,2001-08-18,Tottenham,Aston Villa,0,0,0,0,0,0
8,2001-08-19,Chelsea,Newcastle,1,1,0,0,0,0
9,2001-08-19,Man United,Fulham,3,2,0,0,0,0
10,2001-08-20,Everton,Tottenham,1,1,2,0,1,0
11,2001-08-21,Arsenal,Leeds,1,2,4,2,0,0
12,2001-08-21,Bolton,Middlesbrough,1,0,5,0,0,4
13,2001-08-21,Ipswich,Derby,3,1,0,2,1,1
14,2001-08-22,Blackburn,Man United,2,2,1,3,2,2
15,2001-08-22,Fulham,Sunderland,2,0,2,1,3,0
16,2001-08-25,Arsenal,Leicester,4,0,4,0,0,5
17,2001-08-25,Blackburn,Tottenham,2,1,1,0,2,0
18,2001-08-25,Everton,Middlesbrough,2,0,2,0,1,4
19,2001-08-25,Fulham,Derby,0,0,2,2,3,1
20,2001-08-25,Ipswich,Charlton,0,1,3,2,2,2
21,2001-08-25,Southampton,Chelsea,0,2,0,3,4,1
22,2001-08-25,West Ham,Leeds,0,0,1,4,2,1
23,2001-08-26,Aston Villa,Man United,1,1,1,5,1,4
24,2001-08-26,Newcastle,Sunderland,1,1,2,1,2,2
25,2001-08-27,Bolton,Liverpool,2,1,6,3,0,3
26,2001-09-08,Chelsea,Arsenal,1,1,3,5,1,2
27,2001-09-08,Derby,West Ham,0,0,3,1,4,2
28,2001-09-08,Leeds,Bolton,0,0,4,6,1,0
29,2001-09-08,Leicester,Ipswich,1,1,0,3,9,2
30,2001-09-08,Liverpool,Aston Villa,1,3,4,4,6,2
31,2001-09-08,Man United,Everton,4,1,6,5,5,2
32,2001-09-08,Middlesbrough,Newcastle,1,4,0,6,7,3
33,2001-09-08,Sunderland,Blackburn,1,0,2,5,3,5
34,2001-09-09,Charlton,Fulham,1,1,3,4,3,3
35,2001-09-09,Tottenham,Southampton,2,0,2,0,3,6
36,2001-09-15,Bolton,Southampton,0,1,8,0,1,6
37,2001-09-15,Derby,Leicester,2,3,3,1,4,10
38,2001-09-15,Everton,Liverpool,1,3,5,4,2,6
39,2001-09-15,Fulham,Arsenal,1,3,4,9,3,2
40,2001-09-15,Middlesbrough,West Ham,2,0,1,1,11,4
41,2001-09-15,Newcastle,Man United,4,3,10,10,6,6
42,2001-09-16,Aston Villa,Sunderland,0,0,4,3,2,3
43,2001-09-16,Charlton,Leeds,0,2,3,4,5,1
44,2001-09-16,Ipswich,Blackburn,1,1,4,5,4,6
45,2001-09-16,Tottenham,Chelsea,2,3,4,7,3,4
46,2001-09-17,Leicester,Middlesbrough,1,2,4,1,12,11
47,2001-09-19,Blackburn,Bolton,1,1,5,8,6,1
48,2001-09-19,Sunderland,Tottenham,1,2,3,4,3,3
49,2001-09-22,Arsenal,Bolton,1,1,10,8,3,1
50,2001-09-22,Blackburn,Everton,1,0,6,7,7,9
51,2001-09-22,Leicester,Fulham,0,0,5,6,14,7
52,2001-09-22,Liverpool,Tottenham,1,0,8,6,7,6
53,2001-09-22,Man United,Ipswich,4,0,13,5,10,5
54,2001-09-22,Sunderland,Charlton,2,2,3,5,3,7
55,2001-09-23,Chelsea,Middlesbrough,2,2,9,3,6,11
56,2001-09-23,Leeds,Derby,3,0,6,5,1,7
57,2001-09-23,West Ham,Newcastle,3,0,4,10,4,9
58,2001-09-24,Southampton,Aston Villa,1,3,2,7,9,3
59,2001-09-26,Newcastle,Leicester,1,0,10,5,9,14

Get Home and Away Shots

In [248]:
# Gets the shots fired agg arranged by teams and matchweek
def get_shots_fired(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        AGHSF = playing_stat.iloc[i]['HS']
        # aggregated Home Team shots
        AGASF = playing_stat.iloc[i]['AS']
        # aggregated Away Team shots
        teams[playing_stat.iloc[i].HomeTeam].append(AGHSF)
        teams[playing_stat.iloc[i].AwayTeam].append(AGASF)
    
    # Create a dataframe for shots fired (goals scored) where rows are teams and cols are matchweek.
    ShotsFired = pd.DataFrame(data=teams, index = [i for i in range(1,39)]).T
    ShotsFired[0] = 0
    # Aggregate to get uptil that point
    for i in range(2,39):
        ShotsFired[i] = ShotsFired[i] + ShotsFired[i-1]
    return ShotsFired




# Gets the goals conceded agg arranged by teams and matchweek
def get_shots_conceded(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        AGASC = playing_stat.iloc[i]['HS']
        # aggregated home team shots conceded
        AGHSC = playing_stat.iloc[i]['AS']
        # aggregated away team shots conceded
        teams[playing_stat.iloc[i].HomeTeam].append(AGHSC)
        teams[playing_stat.iloc[i].AwayTeam].append(AGASC)
    
    # Create a dataframe for goals scored where rows are teams and cols are matchweek.
    ShotsConceded = pd.DataFrame(data=teams, index = [i for i in range(1,39)]).T
    ShotsConceded[0] = 0
    # Aggregate to get uptil that point
    for i in range(2,39):
        ShotsConceded[i] = ShotsConceded[i] + ShotsConceded[i-1]
    return ShotsConceded



def get_sf(playing_stat):
    SF = get_shots_fired(playing_stat)
    SC = get_shots_conceded(playing_stat)
   
    j = 0
    AGHSF = []
    AGASF = []
    AGHSC = []
    AGASC = []    

    for i in range(380):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        AGHSF.append(SF.loc[ht][j])
        AGASF.append(SF.loc[at][j])
        AGHSC.append(SC.loc[ht][j])
        AGASC.append(SC.loc[at][j])
        
        if ((i + 1)% 10) == 0:
            j = j + 1
        
    playing_stat['AGHSF'] = AGHSF
    playing_stat['AGASF'] = AGASF
    playing_stat['AGHSC'] = AGHSC
    playing_stat['AGASC'] = AGASC
    return playing_stat

In [249]:
playing_statistics_1 = get_sf(playing_statistics_1)
playing_statistics_2 = get_sf(playing_statistics_2)
playing_statistics_3 = get_sf(playing_statistics_3)
#playing_statistics_4 = get_sf(playing_statistics_4)
#playing_statistics_5 = get_sf(playing_statistics_5)
playing_statistics_6 = get_sf(playing_statistics_6)
playing_statistics_7 = get_sf(playing_statistics_7)
playing_statistics_8 = get_sf(playing_statistics_8)
playing_statistics_9 = get_sf(playing_statistics_9)
playing_statistics_10 = get_sf(playing_statistics_10)
playing_statistics_11 = get_sf(playing_statistics_11)
playing_statistics_12 = get_sf(playing_statistics_12)
playing_statistics_13 = get_sf(playing_statistics_13)
playing_statistics_14 = get_sf(playing_statistics_14)
playing_statistics_15 = get_sf(playing_statistics_15)
playing_statistics_16 = get_sf(playing_statistics_16)
playing_statistics_17 = get_sf(playing_statistics_17)
playing_statistics_18 = get_sf(playing_statistics_18)
playing_statistics_19 = get_sf(playing_statistics_19)
playing_statistics_20 = get_sf(playing_statistics_20)

<ipython-input-248-86deb0bf7e72>:75: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['AGHSF'] = AGHSF
<ipython-input-248-86deb0bf7e72>:76: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['AGASF'] = AGASF
<ipython-input-248-86deb0bf7e72>:77: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['AGHSC'] = AGHSC
<ipython-input-248-86deb0bf7e72>:78: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['AGASC'] = AGASC

In [250]:
playing_statistics_9[['Date', "HomeTeam", "AwayTeam", "HS", "AS",'AGHSF', "AGASF", "AGHSC", "AGASC"]].head(50)

,Date,HomeTeam,AwayTeam,HS,AS,AGHSF,AGASF,AGHSC,AGASC
0,2008-08-16,Arsenal,West Brom,24,5,0,0,0,0
1,2008-08-16,Bolton,Stoke,14,8,0,0,0,0
2,2008-08-16,Everton,Blackburn,10,15,0,0,0,0
3,2008-08-16,Hull,Fulham,11,12,0,0,0,0
4,2008-08-16,Middlesbrough,Tottenham,14,8,0,0,0,0
5,2008-08-16,Sunderland,Liverpool,6,14,0,0,0,0
6,2008-08-16,West Ham,Wigan,15,22,0,0,0,0
7,2008-08-17,Aston Villa,Man City,14,13,0,0,0,0
8,2008-08-17,Chelsea,Portsmouth,18,12,0,0,0,0
9,2008-08-17,Man United,Newcastle,18,11,0,0,0,0
10,2008-08-23,Blackburn,Hull,12,7,15,11,10,12
11,2008-08-23,Fulham,Arsenal,5,15,12,24,11,5
12,2008-08-23,Liverpool,Middlesbrough,16,9,14,14,6,8
13,2008-08-23,Newcastle,Bolton,10,9,11,14,18,8
14,2008-08-23,Stoke,Aston Villa,8,5,8,14,14,13
15,2008-08-23,Tottenham,Sunderland,18,12,8,6,14,14
16,2008-08-23,West Brom,Everton,14,9,5,10,24,15
17,2008-08-24,Man City,West Ham,14,3,13,15,14,22
18,2008-08-24,Wigan,Chelsea,10,7,22,18,15,12
19,2008-08-25,Portsmouth,Man United,13,12,12,18,18,11
20,2008-08-30,Arsenal,Newcastle,20,4,39,21,10,27
21,2008-08-30,Bolton,West Brom,18,12,23,19,18,33
22,2008-08-30,Everton,Portsmouth,16,6,19,25,29,30
23,2008-08-30,Hull,Wigan,10,8,18,32,24,22
24,2008-08-30,Middlesbrough,Stoke,21,7,23,16,24,19
25,2008-08-30,West Ham,Blackburn,11,12,18,27,36,17
26,2008-08-31,Aston Villa,Liverpool,5,8,19,30,21,15
27,2008-08-31,Chelsea,Tottenham,12,6,25,26,22,26
28,2008-08-31,Sunderland,Man City,10,9,18,27,32,17
29,2008-09-13,Blackburn,Arsenal,10,17,27,39,17,10
30,2008-09-13,Fulham,Bolton,20,8,37,41,34,30
31,2008-09-13,Liverpool,Man United,16,7,38,37,20,40
32,2008-09-13,Man City,Chelsea,13,18,36,37,27,28
33,2008-09-13,Newcastle,Hull,13,8,25,28,47,32
34,2008-09-13,Portsmouth,Middlesbrough,21,7,31,44,46,31
35,2008-09-13,West Brom,West Ham,13,21,31,29,51,48
36,2008-09-13,Wigan,Sunderland,12,6,40,28,32,41
37,2008-09-14,Stoke,Everton,12,8,23,35,40,35
38,2008-09-15,Tottenham,Aston Villa,17,17,32,24,38,29
39,2008-09-20,Blackburn,Fulham,11,11,39,37,28,34
40,2008-09-20,Bolton,Arsenal,12,20,49,76,50,24
41,2008-09-20,Liverpool,Stoke,27,3,54,35,27,48
42,2008-09-20,Sunderland,Middlesbrough,17,14,34,51,53,52
43,2008-09-20,West Ham,Newcastle,12,11,50,38,61,55
44,2008-09-21,Chelsea,Man United,20,13,55,50,41,60
45,2008-09-21,Hull,Everton,9,17,36,43,45,47
46,2008-09-21,Man City,Portsmouth,14,10,49,52,45,53
47,2008-09-21,Tottenham,Wigan,11,14,49,52,55,38
48,2008-09-21,West Brom,Aston Villa,10,10,44,41,72,46
49,2008-09-27,Arsenal,Hull,18,7,76,36,24,45

Team Shots on Taget

In [251]:
# Gets the shots fired on target agg arranged by teams and matchweek
def get_shots_fired_target(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        AGHSTF = playing_stat.iloc[i]['HST']
        # aggregated Home Team shots on Taget
        AGASTF = playing_stat.iloc[i]['AST']
        # aggregated Away Team shots on Taget
        teams[playing_stat.iloc[i].HomeTeam].append(AGHSTF)
        teams[playing_stat.iloc[i].AwayTeam].append(AGASTF)
    
    # Create a dataframe for shots fired (goals scored) where rows are teams and cols are matchweek.
    ShotsFired = pd.DataFrame(data=teams, index = [i for i in range(1,39)]).T
    ShotsFired[0] = 0
    # Aggregate to get uptil that point
    for i in range(2,39):
        ShotsFired[i] = ShotsFired[i] + ShotsFired[i-1]
    return ShotsFired

# Gets the goals conceded agg on target arranged by teams and matchweek
def get_shots_conceded_target(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        AGASTC = playing_stat.iloc[i]['HST']
        # aggregated home team shots conceded
        AGHSTC = playing_stat.iloc[i]['AST']
        # aggregated away team shots conceded
        teams[playing_stat.iloc[i].HomeTeam].append(AGHSTC)
        teams[playing_stat.iloc[i].AwayTeam].append(AGASTC)
    
    # Create a dataframe for goals scored where rows are teams and cols are matchweek.
    ShotsConceded = pd.DataFrame(data=teams, index = [i for i in range(1,39)]).T
    ShotsConceded[0] = 0
    # Aggregate to get uptil that point
    for i in range(2,39):
        ShotsConceded[i] = ShotsConceded[i] + ShotsConceded[i-1]
    return ShotsConceded

def get_sf_target(playing_stat):
    SFT = get_shots_fired_target(playing_stat)
    SCT = get_shots_conceded_target(playing_stat)
    
    j = 0
    AGHSTF = []
    AGASTF = []
    AGHSTC = []
    AGASTC = []  

    for i in range(380):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        AGHSTF.append(SFT.loc[ht][j])
        AGASTF.append(SFT.loc[at][j])
        AGHSTC.append(SCT.loc[ht][j])
        AGASTC.append(SCT.loc[at][j])
        
        if ((i + 1)% 10) == 0:
            j = j + 1
        
    playing_stat['AGHSTF'] = AGHSTF
    playing_stat['AGASTF'] = AGASTF
    playing_stat['AGHSTC'] = AGHSTC
    playing_stat['AGASTC'] = AGASTC
    
    return playing_stat

In [252]:
playing_statistics_1 = get_sf_target(playing_statistics_1)
playing_statistics_2 = get_sf_target(playing_statistics_2)
playing_statistics_3 = get_sf_target(playing_statistics_3)
#playing_statistics_4 = get_sf_target(playing_statistics_4)
#playing_statistics_5 = get_sf_target(playing_statistics_5)
playing_statistics_6 = get_sf_target(playing_statistics_6)
playing_statistics_7 = get_sf_target(playing_statistics_7)
playing_statistics_8 = get_sf_target(playing_statistics_8)
playing_statistics_9 = get_sf_target(playing_statistics_9)
playing_statistics_10 = get_sf_target(playing_statistics_10)
playing_statistics_11 = get_sf_target(playing_statistics_11)
playing_statistics_12 = get_sf_target(playing_statistics_12)
playing_statistics_13 = get_sf_target(playing_statistics_13)
playing_statistics_14 = get_sf_target(playing_statistics_14)
playing_statistics_15 = get_sf_target(playing_statistics_15)
playing_statistics_16 = get_sf_target(playing_statistics_16)
playing_statistics_17 = get_sf_target(playing_statistics_17)
playing_statistics_18 = get_sf_target(playing_statistics_18)
playing_statistics_19 = get_sf_target(playing_statistics_19)
playing_statistics_20 = get_sf_target(playing_statistics_20)

<ipython-input-251-d1efa55e6e86>:70: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['AGHSTF'] = AGHSTF
<ipython-input-251-d1efa55e6e86>:71: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['AGASTF'] = AGASTF
<ipython-input-251-d1efa55e6e86>:72: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['AGHSTC'] = AGHSTC
<ipython-input-251-d1efa55e6e86>:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['AGASTC'] = AGASTC

In [253]:
playing_statistics_2[['Date', "HomeTeam", "AwayTeam", "HST", "AST",'AGHSTF', "AGASTF", "AGHSTC", "AGASTC"]].head(60)

,Date,HomeTeam,AwayTeam,HST,AST,AGHSTF,AGASTF,AGHSTC,AGASTC
0,2001-08-18,Charlton,Everton,4,9,0,0,0,0
1,2001-08-18,Derby,Blackburn,3,4,0,0,0,0
2,2001-08-18,Leeds,Southampton,6,6,0,0,0,0
3,2001-08-18,Leicester,Bolton,1,8,0,0,0,0
4,2001-08-18,Liverpool,West Ham,6,3,0,0,0,0
5,2001-08-18,Middlesbrough,Arsenal,2,9,0,0,0,0
6,2001-08-18,Sunderland,Ipswich,6,4,0,0,0,0
7,2001-08-18,Tottenham,Aston Villa,2,2,0,0,0,0
8,2001-08-19,Chelsea,Newcastle,8,3,0,0,0,0
9,2001-08-19,Man United,Fulham,6,5,0,0,0,0
10,2001-08-20,Everton,Tottenham,11,2,9,2,4,2
11,2001-08-21,Arsenal,Leeds,5,2,9,6,2,6
12,2001-08-21,Bolton,Middlesbrough,3,4,8,2,1,9
13,2001-08-21,Ipswich,Derby,18,2,4,3,6,4
14,2001-08-22,Blackburn,Man United,5,7,4,6,3,5
15,2001-08-22,Fulham,Sunderland,5,3,5,6,6,4
16,2001-08-25,Arsenal,Leicester,11,0,9,1,2,8
17,2001-08-25,Blackburn,Tottenham,7,5,4,2,3,2
18,2001-08-25,Everton,Middlesbrough,5,1,9,2,4,9
19,2001-08-25,Fulham,Derby,1,2,5,3,6,4
20,2001-08-25,Ipswich,Charlton,11,6,22,10,8,20
21,2001-08-25,Southampton,Chelsea,2,2,8,10,8,5
22,2001-08-25,West Ham,Leeds,3,4,6,8,10,11
23,2001-08-26,Aston Villa,Man United,4,7,6,13,9,10
24,2001-08-26,Newcastle,Sunderland,6,3,9,9,11,9
25,2001-08-27,Bolton,Liverpool,4,7,11,13,5,7
26,2001-09-08,Chelsea,Arsenal,5,11,10,14,5,4
27,2001-09-08,Derby,West Ham,3,4,5,6,22,10
28,2001-09-08,Leeds,Bolton,6,4,8,11,11,5
29,2001-09-08,Leicester,Ipswich,7,9,1,22,19,8
30,2001-09-08,Liverpool,Aston Villa,7,7,20,13,14,16
31,2001-09-08,Man United,Everton,9,1,20,25,14,7
32,2001-09-08,Middlesbrough,Newcastle,4,5,7,14,17,15
33,2001-09-08,Sunderland,Blackburn,4,4,12,16,15,15
34,2001-09-09,Charlton,Fulham,4,5,14,11,25,11
35,2001-09-09,Tottenham,Southampton,6,6,9,14,20,14
36,2001-09-15,Bolton,Southampton,0,6,15,14,12,14
37,2001-09-15,Derby,Leicester,9,6,7,8,23,28
38,2001-09-15,Everton,Liverpool,5,9,25,20,7,14
39,2001-09-15,Fulham,Arsenal,3,6,11,25,11,4
40,2001-09-15,Middlesbrough,West Ham,5,1,11,11,22,18
41,2001-09-15,Newcastle,Man United,8,7,22,29,22,15
42,2001-09-16,Aston Villa,Sunderland,3,2,16,16,18,19
43,2001-09-16,Charlton,Leeds,4,9,18,18,34,18
44,2001-09-16,Ipswich,Blackburn,10,4,42,20,21,19
45,2001-09-16,Tottenham,Chelsea,4,4,15,19,26,20
46,2001-09-17,Leicester,Middlesbrough,5,6,14,11,37,22
47,2001-09-19,Blackburn,Bolton,8,5,20,19,19,18
48,2001-09-19,Sunderland,Tottenham,8,6,16,15,19,26
49,2001-09-22,Arsenal,Bolton,12,4,36,19,9,18
50,2001-09-22,Blackburn,Everton,6,7,24,31,29,25
51,2001-09-22,Leicester,Fulham,5,2,19,19,43,21
52,2001-09-22,Liverpool,Tottenham,6,5,35,19,24,30
53,2001-09-22,Man United,Ipswich,8,1,36,52,23,25
54,2001-09-22,Sunderland,Charlton,13,5,18,23,22,47
55,2001-09-23,Chelsea,Middlesbrough,3,2,22,16,22,23
56,2001-09-23,Leeds,Derby,10,2,27,19,22,33
57,2001-09-23,West Ham,Newcastle,9,5,20,27,23,31
58,2001-09-24,Southampton,Aston Villa,4,5,24,21,19,22
59,2001-09-26,Newcastle,Leicester,6,2,27,19,31,43

Team Fouls Committed

In [254]:
# Gets the shots fired on target agg arranged by teams and matchweek
def get_fouls(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        AGHF = playing_stat.iloc[i]['HF']
        # aggregated Home Team Fouls
        AGAF = playing_stat.iloc[i]['AF']
        # aggregated Away Team Fouls
        teams[playing_stat.iloc[i].HomeTeam].append(AGHF)
        teams[playing_stat.iloc[i].AwayTeam].append(AGAF)
    
    # Create a dataframe for shots fired (goals scored) where rows are teams and cols are matchweek.
    Fouls = pd.DataFrame(data=teams, index = [i for i in range(1,39)]).T
    Fouls[0] = 0
    # Aggregate to get uptil that point
    for i in range(2,39):
        Fouls[i] = Fouls[i] + Fouls[i-1]
    return Fouls


def get_fouls_agg(playing_stat):
    FA = get_fouls(playing_stat)
   
    j = 0
    AGHF = []
    AGAF = []

    for i in range(380):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        AGHF.append(FA.loc[ht][j])
        AGAF.append(FA.loc[at][j])
        
        if ((i + 1)% 10) == 0:
            j = j + 1
        
    playing_stat['AGHF'] = AGHF
    playing_stat['AGAF'] = AGAF
    return playing_stat

In [255]:
playing_statistics_1 = get_fouls_agg(playing_statistics_1)
playing_statistics_2 = get_fouls_agg(playing_statistics_2)
playing_statistics_3 = get_fouls_agg(playing_statistics_3)
#playing_statistics_4 = get_fouls_agg(playing_statistics_4)
#playing_statistics_5 = get_fouls_agg(playing_statistics_5)
playing_statistics_6 = get_fouls_agg(playing_statistics_6)
playing_statistics_7 = get_fouls_agg(playing_statistics_7)
playing_statistics_8 = get_fouls_agg(playing_statistics_8)
playing_statistics_9 = get_fouls_agg(playing_statistics_9)
playing_statistics_10 = get_fouls_agg(playing_statistics_10)
playing_statistics_11 = get_fouls_agg(playing_statistics_11)
playing_statistics_12 = get_fouls_agg(playing_statistics_12)
playing_statistics_13 = get_fouls_agg(playing_statistics_13)
playing_statistics_14 = get_fouls_agg(playing_statistics_14)
playing_statistics_15 = get_fouls_agg(playing_statistics_15)
playing_statistics_16 = get_fouls_agg(playing_statistics_16)
playing_statistics_17 = get_fouls_agg(playing_statistics_17)
playing_statistics_18 = get_fouls_agg(playing_statistics_18)
playing_statistics_19 = get_fouls_agg(playing_statistics_19)
playing_statistics_20 = get_fouls_agg(playing_statistics_20)

<ipython-input-254-b86ba37f240e>:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['AGHF'] = AGHF
<ipython-input-254-b86ba37f240e>:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['AGAF'] = AGAF

In [256]:
playing_statistics_2[['Date', "HomeTeam", "AwayTeam", "HF", "AF",'AGHF', "AGAF"]].head(60)

          Date       HomeTeam       AwayTeam  HF  AF  AGHF  AGAF
0   2001-08-18       Charlton        Everton  15  17     0     0
1   2001-08-18          Derby      Blackburn  14  15     0     0
2   2001-08-18          Leeds    Southampton  16  24     0     0
3   2001-08-18      Leicester         Bolton  21  17     0     0
4   2001-08-18      Liverpool       West Ham  13  12     0     0
5   2001-08-18  Middlesbrough        Arsenal  13  19     0     0
6   2001-08-18     Sunderland        Ipswich  22  20     0     0
7   2001-08-18      Tottenham    Aston Villa  12  17     0     0
8   2001-08-19        Chelsea      Newcastle  19  20     0     0
9   2001-08-19     Man United         Fulham  17  19     0     0
10  2001-08-20        Everton      Tottenham  15  12    17    12
11  2001-08-21        Arsenal          Leeds  28  29    19    16
12  2001-08-21         Bolton  Middlesbrough  19  16    17    13
13  2001-08-21        Ipswich          Derby  21  14    20    14
14  2001-08-22      Blackburn     Man United  18  16    15    17
15  2001-08-22         Fulham     Sunderland  18  20    19    22
16  2001-08-25        Arsenal      Leicester  14  20    19    21
17  2001-08-25      Blackburn      Tottenham  14  11    15    12
18  2001-08-25        Everton  Middlesbrough  25  23    17    13
19  2001-08-25         Fulham          Derby  12  14    19    14
20  2001-08-25        Ipswich       Charlton  22  20    41    35
21  2001-08-25    Southampton        Chelsea  13  18    37    37
22  2001-08-25       West Ham          Leeds  19  14    31    45
23  2001-08-26    Aston Villa     Man United   9  12    26    33
24  2001-08-26      Newcastle     Sunderland  19  18    39    42
25  2001-08-27         Bolton      Liverpool  13  11    36    24
26  2001-09-08        Chelsea        Arsenal  20  20    37    47
27  2001-09-08          Derby       West Ham  22  19    28    31
28  2001-09-08          Leeds         Bolton  13  17    45    36
29  2001-09-08      Leicester        Ipswich  26  24    41    41
30  2001-09-08      Liverpool    Aston Villa  19  14    43    40
31  2001-09-08     Man United        Everton   7  11    45    57
32  2001-09-08  Middlesbrough      Newcastle  15  17    52    56
33  2001-09-08     Sunderland      Blackburn   9  14    60    47
34  2001-09-09       Charlton         Fulham  22  12    57    49
35  2001-09-09      Tottenham    Southampton  15  16    35    53
36  2001-09-15         Bolton    Southampton  11  19    49    53
37  2001-09-15          Derby      Leicester  16  23    42    67
38  2001-09-15        Everton      Liverpool  16  13    57    43
39  2001-09-15         Fulham        Arsenal  18  20    49    61
40  2001-09-15  Middlesbrough       West Ham  16  23    67    73
41  2001-09-15      Newcastle     Man United  17  16    73    52
42  2001-09-16    Aston Villa     Sunderland  20  25    60    69
43  2001-09-16       Charlton          Leeds  13  14    70    72
44  2001-09-16        Ipswich      Blackburn   8  15    87    61
45  2001-09-16      Tottenham        Chelsea  10  12    50    69
46  2001-09-17      Leicester  Middlesbrough  19  15    90    67
47  2001-09-19      Blackburn         Bolton  14  15    61    66
48  2001-09-19     Sunderland      Tottenham   9  14    69    50
49  2001-09-22        Arsenal         Bolton   9  11    81    66
50  2001-09-22      Blackburn        Everton  18  17    76    84
51  2001-09-22      Leicester         Fulham  15  21   109    79
52  2001-09-22      Liverpool      Tottenham  12   9    68    60
53  2001-09-22     Man United        Ipswich  14  17    68    95
54  2001-09-22     Sunderland       Charlton  20  13    94    83
55  2001-09-23        Chelsea  Middlesbrough  17  15    86    83
56  2001-09-23          Leeds          Derby  26  17    86    80
57  2001-09-23       West Ham      Newcastle  20  17    93    90
58  2001-09-24    Southampton    Aston Villa  15  18    87    78
59  2001-09-26      Newcastle      Leicester  17  27    90   109

Team Corners

In [257]:
# Gets the shots fired on target agg arranged by teams and matchweek
def get_corners_fired(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        AGHCF = playing_stat.iloc[i]['HC']
        # aggregated Home Team corners
        AGACF = playing_stat.iloc[i]['AC']
        # aggregated Away Team corners
        teams[playing_stat.iloc[i].HomeTeam].append(AGHCF)
        teams[playing_stat.iloc[i].AwayTeam].append(AGACF)
    
    # Create a dataframe for shots fired (goals scored) where rows are teams and cols are matchweek.
    Corners = pd.DataFrame(data=teams, index = [i for i in range(1,39)]).T
    Corners[0] = 0
    # Aggregate to get uptil that point
    for i in range(2,39):
        Corners[i] = Corners[i] + Corners[i-1]
    return Corners

def get_corners_conceived(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        AGACC = playing_stat.iloc[i]['HC']
        # aggregated Home Team corners
        AGHCC = playing_stat.iloc[i]['AC']
        # aggregated Away Team corners
        teams[playing_stat.iloc[i].HomeTeam].append(AGHCC)
        teams[playing_stat.iloc[i].AwayTeam].append(AGACC)
    
    # Create a dataframe for shots fired (goals scored) where rows are teams and cols are matchweek.
    Corners = pd.DataFrame(data=teams, index = [i for i in range(1,39)]).T
    Corners[0] = 0
    # Aggregate to get uptil that point
    for i in range(2,39):
        Corners[i] = Corners[i] + Corners[i-1]
    return Corners


def get_corners_agg(playing_stat):
    CF = get_corners_fired(playing_stat)
    CC = get_corners_conceived(playing_stat)
   
    j = 0
    AGHCF = []
    AGACF = []
    AGHCC = []
    AGACC = []

    for i in range(380):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        AGHCF.append(CF.loc[ht][j])
        AGACF.append(CF.loc[at][j])
        AGHCC.append(CC.loc[ht][j])
        AGACC.append(CC.loc[at][j])
        
        if ((i + 1)% 10) == 0:
            j = j + 1
        
    playing_stat['AGHCF'] = AGHCF
    playing_stat['AGACF'] = AGACF
    playing_stat['AGHCC'] = AGHCC
    playing_stat['AGACC'] = AGACC
    
    return playing_stat

In [258]:
playing_statistics_1 = get_corners_agg(playing_statistics_1)
playing_statistics_2 = get_corners_agg(playing_statistics_2)
playing_statistics_3 = get_corners_agg(playing_statistics_3)
#playing_statistics_4 = get_corners_agg(playing_statistics_4)
#playing_statistics_5 = get_corners_agg(playing_statistics_5)
playing_statistics_6 = get_corners_agg(playing_statistics_6)
playing_statistics_7 = get_corners_agg(playing_statistics_7)
playing_statistics_8 = get_corners_agg(playing_statistics_8)
playing_statistics_9 = get_corners_agg(playing_statistics_9)
playing_statistics_10 = get_corners_agg(playing_statistics_10)
playing_statistics_11 = get_corners_agg(playing_statistics_11)
playing_statistics_12 = get_corners_agg(playing_statistics_12)
playing_statistics_13 = get_corners_agg(playing_statistics_13)
playing_statistics_14 = get_corners_agg(playing_statistics_14)
playing_statistics_15 = get_corners_agg(playing_statistics_15)
playing_statistics_16 = get_corners_agg(playing_statistics_16)
playing_statistics_17 = get_corners_agg(playing_statistics_17)
playing_statistics_18 = get_corners_agg(playing_statistics_18)
playing_statistics_19 = get_corners_agg(playing_statistics_19)
playing_statistics_20 = get_corners_agg(playing_statistics_20)

<ipython-input-257-8a4066657f67>:70: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['AGHCF'] = AGHCF
<ipython-input-257-8a4066657f67>:71: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['AGACF'] = AGACF
<ipython-input-257-8a4066657f67>:72: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['AGHCC'] = AGHCC
<ipython-input-257-8a4066657f67>:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['AGACC'] = AGACC

In [259]:
playing_statistics_2[['Date', "HomeTeam", "AwayTeam", "HC", "AC",'AGHCF', "AGACF", "AGHCC", "AGACC"]].head(50)

,Date,HomeTeam,AwayTeam,HC,AC,AGHCF,AGACF,AGHCC,AGACC
0,2001-08-18,Charlton,Everton,4,4,0,0,0,0
1,2001-08-18,Derby,Blackburn,4,10,0,0,0,0
2,2001-08-18,Leeds,Southampton,10,3,0,0,0,0
3,2001-08-18,Leicester,Bolton,3,5,0,0,0,0
4,2001-08-18,Liverpool,West Ham,5,3,0,0,0,0
5,2001-08-18,Middlesbrough,Arsenal,2,6,0,0,0,0
6,2001-08-18,Sunderland,Ipswich,1,1,0,0,0,0
7,2001-08-18,Tottenham,Aston Villa,6,5,0,0,0,0
8,2001-08-19,Chelsea,Newcastle,12,7,0,0,0,0
9,2001-08-19,Man United,Fulham,6,4,0,0,0,0
10,2001-08-20,Everton,Tottenham,8,0,4,6,4,5
11,2001-08-21,Arsenal,Leeds,10,2,6,10,2,3
12,2001-08-21,Bolton,Middlesbrough,5,2,5,2,3,6
13,2001-08-21,Ipswich,Derby,19,2,1,4,1,10
14,2001-08-22,Blackburn,Man United,3,8,10,6,4,4
15,2001-08-22,Fulham,Sunderland,8,9,4,1,6,1
16,2001-08-25,Arsenal,Leicester,9,0,6,3,2,5
17,2001-08-25,Blackburn,Tottenham,3,6,10,6,4,5
18,2001-08-25,Everton,Middlesbrough,3,6,4,2,4,6
19,2001-08-25,Fulham,Derby,11,3,4,4,6,10
20,2001-08-25,Ipswich,Charlton,6,1,20,5,3,10
21,2001-08-25,Southampton,Chelsea,6,2,9,14,12,13
22,2001-08-25,West Ham,Leeds,5,8,8,12,13,13
23,2001-08-26,Aston Villa,Man United,5,5,10,14,11,7
24,2001-08-26,Newcastle,Sunderland,10,4,17,10,16,9
25,2001-08-27,Bolton,Liverpool,4,6,10,11,5,7
26,2001-09-08,Chelsea,Arsenal,5,6,14,16,13,4
27,2001-09-08,Derby,West Ham,3,4,6,8,29,13
28,2001-09-08,Leeds,Bolton,7,5,12,10,13,5
29,2001-09-08,Leicester,Ipswich,6,3,3,20,14,3
30,2001-09-08,Liverpool,Aston Villa,7,0,18,10,7,18
31,2001-09-08,Man United,Everton,6,2,19,15,12,10
32,2001-09-08,Middlesbrough,Newcastle,3,3,10,20,14,19
33,2001-09-08,Sunderland,Blackburn,4,10,14,16,19,18
34,2001-09-09,Charlton,Fulham,5,6,10,23,16,18
35,2001-09-09,Tottenham,Southampton,3,3,12,12,16,15
36,2001-09-15,Bolton,Southampton,3,2,14,12,11,15
37,2001-09-15,Derby,Leicester,8,8,9,9,40,17
38,2001-09-15,Everton,Liverpool,4,2,15,18,10,7
39,2001-09-15,Fulham,Arsenal,4,5,23,25,18,4
40,2001-09-15,Middlesbrough,West Ham,8,1,13,13,17,24
41,2001-09-15,Newcastle,Man United,8,5,28,25,24,14
42,2001-09-16,Aston Villa,Sunderland,10,3,20,18,21,29
43,2001-09-16,Charlton,Leeds,8,9,18,27,25,23
44,2001-09-16,Ipswich,Blackburn,6,13,29,26,10,22
45,2001-09-16,Tottenham,Chelsea,6,6,15,25,19,25
46,2001-09-17,Leicester,Middlesbrough,4,2,17,13,25,17
47,2001-09-19,Blackburn,Bolton,10,2,26,19,22,18
48,2001-09-19,Sunderland,Tottenham,11,4,18,15,29,19
49,2001-09-22,Arsenal,Bolton,17,0,31,19,9,18

Yellow Cards

In [260]:
# Gets yellow cards agg arranged by teams and matchweek
def get_yellow(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        AGHY = playing_stat.iloc[i]['HY']
        # aggregated Home Team yellow cards
        AGAY = playing_stat.iloc[i]['AY']
        # aggregated Away Team yellow cards
        teams[playing_stat.iloc[i].HomeTeam].append(AGHY)
        teams[playing_stat.iloc[i].AwayTeam].append(AGAY)
    
    # Create a dataframe for shots fired (goals scored) where rows are teams and cols are matchweek.
    Yellow = pd.DataFrame(data=teams, index = [i for i in range(1,39)]).T
    Yellow[0] = 0
    # Aggregate to get uptil that point
    for i in range(2,39):
        Yellow[i] = Yellow[i] + Yellow[i-1]
    return Yellow


def get_yellow_agg(playing_stat):
    Y = get_yellow(playing_stat)
   
    j = 0
    AGHY = []
    AGAY = []

    for i in range(380):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        AGHY.append(Y.loc[ht][j])
        AGAY.append(Y.loc[at][j])
        
        if ((i + 1)% 10) == 0:
            j = j + 1
        
    playing_stat['AGHY'] = AGHY
    playing_stat['AGAY'] = AGAY
    return playing_stat

In [261]:
playing_statistics_1 = get_yellow_agg(playing_statistics_1)
playing_statistics_2 = get_yellow_agg(playing_statistics_2)
playing_statistics_3 = get_yellow_agg(playing_statistics_3)
#playing_statistics_4 = get_yellow_agg(playing_statistics_4)
#playing_statistics_5 = get_yellow_agg(playing_statistics_5)
playing_statistics_6 = get_yellow_agg(playing_statistics_6)
playing_statistics_7 = get_yellow_agg(playing_statistics_7)
playing_statistics_8 = get_yellow_agg(playing_statistics_8)
playing_statistics_9 = get_yellow_agg(playing_statistics_9)
playing_statistics_10 = get_yellow_agg(playing_statistics_10)
playing_statistics_11 = get_yellow_agg(playing_statistics_11)
playing_statistics_12 = get_yellow_agg(playing_statistics_12)
playing_statistics_13 = get_yellow_agg(playing_statistics_13)
playing_statistics_14 = get_yellow_agg(playing_statistics_14)
playing_statistics_15 = get_yellow_agg(playing_statistics_15)
playing_statistics_16 = get_yellow_agg(playing_statistics_16)
playing_statistics_17 = get_yellow_agg(playing_statistics_17)
playing_statistics_18 = get_yellow_agg(playing_statistics_18)
playing_statistics_19 = get_yellow_agg(playing_statistics_19)
playing_statistics_20 = get_yellow_agg(playing_statistics_20)

<ipython-input-260-697b7ad671dc>:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['AGHY'] = AGHY
<ipython-input-260-697b7ad671dc>:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['AGAY'] = AGAY

In [262]:
playing_statistics_2[['Date', "HomeTeam", "AwayTeam", "HY", "AY",'AGHY', "AGAY"]].head(50)

          Date       HomeTeam       AwayTeam  HY  AY  AGHY  AGAY
0   2001-08-18       Charlton        Everton   0   3     0     0
1   2001-08-18          Derby      Blackburn   1   0     0     0
2   2001-08-18          Leeds    Southampton   1   2     0     0
3   2001-08-18      Leicester         Bolton   4   3     0     0
4   2001-08-18      Liverpool       West Ham   1   5     0     0
5   2001-08-18  Middlesbrough        Arsenal   2   3     0     0
6   2001-08-18     Sunderland        Ipswich   0   1     0     0
7   2001-08-18      Tottenham    Aston Villa   3   2     0     0
8   2001-08-19        Chelsea      Newcastle   3   4     0     0
9   2001-08-19     Man United         Fulham   0   1     0     0
10  2001-08-20        Everton      Tottenham   3   2     3     3
11  2001-08-21        Arsenal          Leeds   4   5     3     1
12  2001-08-21         Bolton  Middlesbrough   1   1     3     2
13  2001-08-21        Ipswich          Derby   0   3     1     1
14  2001-08-22      Blackburn     Man United   2   1     0     0
15  2001-08-22         Fulham     Sunderland   0   2     1     0
16  2001-08-25        Arsenal      Leicester   1   4     3     4
17  2001-08-25      Blackburn      Tottenham   1   1     0     3
18  2001-08-25        Everton  Middlesbrough   2   1     3     2
19  2001-08-25         Fulham          Derby   2   3     1     1
20  2001-08-25        Ipswich       Charlton   2   6     1     6
21  2001-08-25    Southampton        Chelsea   0   1     2     4
22  2001-08-25       West Ham          Leeds   3   2     8     6
23  2001-08-26    Aston Villa     Man United   0   2     2     1
24  2001-08-26      Newcastle     Sunderland   2   2     6     2
25  2001-08-27         Bolton      Liverpool   2   2     4     3
26  2001-09-08        Chelsea        Arsenal   1   5     4     7
27  2001-09-08          Derby       West Ham   5   2     4     8
28  2001-09-08          Leeds         Bolton   1   1     6     4
29  2001-09-08      Leicester        Ipswich   3   3     8     1
30  2001-09-08      Liverpool    Aston Villa   3   1     6     3
31  2001-09-08     Man United        Everton   0   1     3     8
32  2001-09-08  Middlesbrough      Newcastle   1   3     4     9
33  2001-09-08     Sunderland      Blackburn   2   3     4     3
34  2001-09-09       Charlton         Fulham   2   1     8     3
35  2001-09-09      Tottenham    Southampton   0   0     6     2
36  2001-09-15         Bolton    Southampton   1   1     6     2
37  2001-09-15          Derby      Leicester   5   3     7    11
38  2001-09-15        Everton      Liverpool   0   1     8     6
39  2001-09-15         Fulham        Arsenal   3   4     3     8
40  2001-09-15  Middlesbrough       West Ham   2   3     5    13
41  2001-09-15      Newcastle     Man United   2   1    11     3
42  2001-09-16    Aston Villa     Sunderland   0   4     3     6
43  2001-09-16       Charlton          Leeds   2   1    10     9
44  2001-09-16        Ipswich      Blackburn   3   1     6     6
45  2001-09-16      Tottenham        Chelsea   1   4     6     9
46  2001-09-17      Leicester  Middlesbrough   0   1    14     5
47  2001-09-19      Blackburn         Bolton   0   4     6     7
48  2001-09-19     Sunderland      Tottenham   1   2     6     6
49  2001-09-22        Arsenal         Bolton   1   1    13     7

Red cards

In [263]:
# Gets red cards agg arranged by teams and matchweek
def get_red(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        AGHR = playing_stat.iloc[i]['HR']
        # aggregated Home Team yellow cards
        AGAR = playing_stat.iloc[i]['AR']
        # aggregated Away Team yellow cards
        teams[playing_stat.iloc[i].HomeTeam].append(AGHR)
        teams[playing_stat.iloc[i].AwayTeam].append(AGAR)
    
    # Create a dataframe for shots fired (goals scored) where rows are teams and cols are matchweek.
    Red = pd.DataFrame(data=teams, index = [i for i in range(1,39)]).T
    Red[0] = 0
    # Aggregate to get uptil that point
    for i in range(2,39):
        Red[i] = Red[i] + Red[i-1]
    return Red


def get_red_agg(playing_stat):
    R = get_red(playing_stat)
   
    j = 0
    AGHR = []
    AGAR = []

    for i in range(380):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        AGHR.append(R.loc[ht][j])
        AGAR.append(R.loc[at][j])
        
        if ((i + 1)% 10) == 0:
            j = j + 1
        
    playing_stat['AGHR'] = AGHR
    playing_stat['AGAR'] = AGAR
    return playing_stat

In [264]:
playing_statistics_1 = get_red_agg(playing_statistics_1)
playing_statistics_2 = get_red_agg(playing_statistics_2)
playing_statistics_3 = get_red_agg(playing_statistics_3)
#playing_statistics_4 = get_red_agg(playing_statistics_4)
#playing_statistics_5 = get_red_agg(playing_statistics_5)
playing_statistics_6 = get_red_agg(playing_statistics_6)
playing_statistics_7 = get_red_agg(playing_statistics_7)
playing_statistics_8 = get_red_agg(playing_statistics_8)
playing_statistics_9 = get_red_agg(playing_statistics_9)
playing_statistics_10 = get_red_agg(playing_statistics_10)
playing_statistics_11 = get_red_agg(playing_statistics_11)
playing_statistics_12 = get_red_agg(playing_statistics_12)
playing_statistics_13 = get_red_agg(playing_statistics_13)
playing_statistics_14 = get_red_agg(playing_statistics_14)
playing_statistics_15 = get_red_agg(playing_statistics_15)
playing_statistics_16 = get_red_agg(playing_statistics_16)
playing_statistics_17 = get_red_agg(playing_statistics_17)
playing_statistics_18 = get_red_agg(playing_statistics_18)
playing_statistics_19 = get_red_agg(playing_statistics_19)
playing_statistics_20 = get_red_agg(playing_statistics_20)

<ipython-input-263-e098fe44355b>:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['AGHR'] = AGHR
<ipython-input-263-e098fe44355b>:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['AGAR'] = AGAR

In [265]:
playing_statistics_2[['Date', "HomeTeam", "AwayTeam", "HR", "AR",'AGHR', "AGAR"]].head(60)

          Date       HomeTeam       AwayTeam  HR  AR  AGHR  AGAR
0   2001-08-18       Charlton        Everton   0   0     0     0
1   2001-08-18          Derby      Blackburn   0   0     0     0
2   2001-08-18          Leeds    Southampton   0   1     0     0
3   2001-08-18      Leicester         Bolton   0   0     0     0
4   2001-08-18      Liverpool       West Ham   0   0     0     0
5   2001-08-18  Middlesbrough        Arsenal   1   1     0     0
6   2001-08-18     Sunderland        Ipswich   0   0     0     0
7   2001-08-18      Tottenham    Aston Villa   0   0     0     0
8   2001-08-19        Chelsea      Newcastle   0   0     0     0
9   2001-08-19     Man United         Fulham   0   0     0     0
10  2001-08-20        Everton      Tottenham   0   2     0     0
11  2001-08-21        Arsenal          Leeds   0   2     1     0
12  2001-08-21         Bolton  Middlesbrough   0   0     0     1
13  2001-08-21        Ipswich          Derby   0   1     0     0
14  2001-08-22      Blackburn     Man United   1   0     0     0
15  2001-08-22         Fulham     Sunderland   0   0     0     0
16  2001-08-25        Arsenal      Leicester   1   1     1     0
17  2001-08-25      Blackburn      Tottenham   0   0     0     0
18  2001-08-25        Everton  Middlesbrough   0   0     0     1
19  2001-08-25         Fulham          Derby   0   0     0     0
20  2001-08-25        Ipswich       Charlton   0   0     0     0
21  2001-08-25    Southampton        Chelsea   0   0     1     0
22  2001-08-25       West Ham          Leeds   0   0     0     2
23  2001-08-26    Aston Villa     Man United   0   0     0     0
24  2001-08-26      Newcastle     Sunderland   0   0     0     0
25  2001-08-27         Bolton      Liverpool   0   0     0     0
26  2001-09-08        Chelsea        Arsenal   1   0     0     1
27  2001-09-08          Derby       West Ham   0   0     1     0
28  2001-09-08          Leeds         Bolton   0   0     2     0
29  2001-09-08      Leicester        Ipswich   1   1     1     0
30  2001-09-08      Liverpool    Aston Villa   1   0     1     0
31  2001-09-08     Man United        Everton   0   0     0     0
32  2001-09-08  Middlesbrough      Newcastle   1   0     1     0
33  2001-09-08     Sunderland      Blackburn   0   0     0     1
34  2001-09-09       Charlton         Fulham   0   0     0     0
35  2001-09-09      Tottenham    Southampton   0   0     2     1
36  2001-09-15         Bolton    Southampton   0   0     0     1
37  2001-09-15          Derby      Leicester   0   0     1     2
38  2001-09-15        Everton      Liverpool   0   0     0     1
39  2001-09-15         Fulham        Arsenal   0   0     0     2
40  2001-09-15  Middlesbrough       West Ham   0   1     2     1
41  2001-09-15      Newcastle     Man United   0   1     0     0
42  2001-09-16    Aston Villa     Sunderland   0   0     0     0
43  2001-09-16       Charlton          Leeds   1   0     1     2
44  2001-09-16        Ipswich      Blackburn   0   0     1     1
45  2001-09-16      Tottenham        Chelsea   0   1     2     2
46  2001-09-17      Leicester  Middlesbrough   0   0     2     2
47  2001-09-19      Blackburn         Bolton   0   0     1     0
48  2001-09-19     Sunderland      Tottenham   0   0     0     2
49  2001-09-22        Arsenal         Bolton   0   1     2     0
50  2001-09-22      Blackburn        Everton   0   0     1     0
51  2001-09-22      Leicester         Fulham   0   0     2     0
52  2001-09-22      Liverpool      Tottenham   0   0     1     2
53  2001-09-22     Man United        Ipswich   0   0     1     1
54  2001-09-22     Sunderland       Charlton   0   0     0     1
55  2001-09-23        Chelsea  Middlesbrough   0   0     2     2
56  2001-09-23          Leeds          Derby   0   0     2     1
57  2001-09-23       West Ham      Newcastle   0   0     1     0
58  2001-09-24    Southampton    Aston Villa   1   1     2     1
59  2001-09-26      Newcastle      Leicester   0   0     0     2

GET RESPECTIVE POINTS: 
-> 18 mit 20 ersetzen: number of teams

In [266]:
def get_points(result):
    if result == 'W':
        return 3
    elif result == 'D':
        return 1
    else:
        return 0
    

def get_cuml_points(matchres):
    matchres_points = matchres.applymap(get_points)
    for i in range(2,39):
        matchres_points[i] = matchres_points[i] + matchres_points[i-1]
        
    matchres_points.insert(column =0, loc = 0, value = [0*i for i in range(20)])
    return matchres_points


def get_matchres(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []

    # the value corresponding to keys is a list containing the match result
    for i in range(len(playing_stat)):
        if playing_stat.iloc[i].FTR == 'H':
            teams[playing_stat.iloc[i].HomeTeam].append('W')
            teams[playing_stat.iloc[i].AwayTeam].append('L')
        elif playing_stat.iloc[i].FTR == 'A':
            teams[playing_stat.iloc[i].AwayTeam].append('W')
            teams[playing_stat.iloc[i].HomeTeam].append('L')
        else:
            teams[playing_stat.iloc[i].AwayTeam].append('D')
            teams[playing_stat.iloc[i].HomeTeam].append('D')
            
    return pd.DataFrame(data=teams, index = [i for i in range(1,39)]).T

def get_agg_points(playing_stat):
    matchres = get_matchres(playing_stat)
    cum_pts = get_cuml_points(matchres)
    HTP = []
    ATP = []
    j = 0
    for i in range(380):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        HTP.append(cum_pts.loc[ht][j])
        ATP.append(cum_pts.loc[at][j])

        if ((i + 1)% 10) == 0:
            j = j + 1
            
    playing_stat['HTP'] = HTP
    playing_stat['ATP'] = ATP
    return playing_stat

In [267]:
# Apply to each dataset

playing_statistics_1 = get_agg_points(playing_statistics_1)
playing_statistics_2 = get_agg_points(playing_statistics_2)
playing_statistics_3 = get_agg_points(playing_statistics_3)
#playing_statistics_4 = get_agg_points(playing_statistics_4)
#playing_statistics_5 = get_agg_points(playing_statistics_5)
playing_statistics_6 = get_agg_points(playing_statistics_6)
playing_statistics_7 = get_agg_points(playing_statistics_7)
playing_statistics_8 = get_agg_points(playing_statistics_8)
playing_statistics_9 = get_agg_points(playing_statistics_9)
playing_statistics_10 = get_agg_points(playing_statistics_10)
playing_statistics_11 = get_agg_points(playing_statistics_11)
playing_statistics_12 = get_agg_points(playing_statistics_12)
playing_statistics_13 = get_agg_points(playing_statistics_13)
playing_statistics_14 = get_agg_points(playing_statistics_14)
playing_statistics_15 = get_agg_points(playing_statistics_15)
playing_statistics_16 = get_agg_points(playing_statistics_16)
playing_statistics_17 = get_agg_points(playing_statistics_17)
playing_statistics_18 = get_agg_points(playing_statistics_18)
playing_statistics_19 = get_agg_points(playing_statistics_19)
playing_statistics_20 = get_agg_points(playing_statistics_20)

<ipython-input-266-cae68c17b88e>:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['HTP'] = HTP
<ipython-input-266-cae68c17b88e>:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['ATP'] = ATP

In [268]:
playing_statistics_2[['Date', "HomeTeam", "AwayTeam", "FTHG", "FTAG","HTP", "ATP"]].head(60)

          Date       HomeTeam       AwayTeam  FTHG  FTAG  HTP  ATP
0   2001-08-18       Charlton        Everton     1     2    0    0
1   2001-08-18          Derby      Blackburn     2     1    0    0
2   2001-08-18          Leeds    Southampton     2     0    0    0
3   2001-08-18      Leicester         Bolton     0     5    0    0
4   2001-08-18      Liverpool       West Ham     2     1    0    0
5   2001-08-18  Middlesbrough        Arsenal     0     4    0    0
6   2001-08-18     Sunderland        Ipswich     1     0    0    0
7   2001-08-18      Tottenham    Aston Villa     0     0    0    0
8   2001-08-19        Chelsea      Newcastle     1     1    0    0
9   2001-08-19     Man United         Fulham     3     2    0    0
10  2001-08-20        Everton      Tottenham     1     1    3    1
11  2001-08-21        Arsenal          Leeds     1     2    3    3
12  2001-08-21         Bolton  Middlesbrough     1     0    3    0
13  2001-08-21        Ipswich          Derby     3     1    0    3
14  2001-08-22      Blackburn     Man United     2     2    0    3
15  2001-08-22         Fulham     Sunderland     2     0    0    3
16  2001-08-25        Arsenal      Leicester     4     0    3    0
17  2001-08-25      Blackburn      Tottenham     2     1    0    1
18  2001-08-25        Everton  Middlesbrough     2     0    3    0
19  2001-08-25         Fulham          Derby     0     0    0    3
20  2001-08-25        Ipswich       Charlton     0     1    3    3
21  2001-08-25    Southampton        Chelsea     0     2    0    4
22  2001-08-25       West Ham          Leeds     0     0    1    6
23  2001-08-26    Aston Villa     Man United     1     1    2    4
24  2001-08-26      Newcastle     Sunderland     1     1    2    3
25  2001-08-27         Bolton      Liverpool     2     1    6    3
26  2001-09-08        Chelsea        Arsenal     1     1    4    3
27  2001-09-08          Derby       West Ham     0     0    3    1
28  2001-09-08          Leeds         Bolton     0     0    6    6
29  2001-09-08      Leicester        Ipswich     1     1    0    3
30  2001-09-08      Liverpool    Aston Villa     1     3    3    5
31  2001-09-08     Man United        Everton     4     1    5    7
32  2001-09-08  Middlesbrough      Newcastle     1     4    0    5
33  2001-09-08     Sunderland      Blackburn     1     0    4    4
34  2001-09-09       Charlton         Fulham     1     1    4    4
35  2001-09-09      Tottenham    Southampton     2     0    2    0
36  2001-09-15         Bolton    Southampton     0     1    9    0
37  2001-09-15          Derby      Leicester     2     3    4    1
38  2001-09-15        Everton      Liverpool     1     3    7    3
39  2001-09-15         Fulham        Arsenal     1     3    4    6
40  2001-09-15  Middlesbrough       West Ham     2     0    0    2
41  2001-09-15      Newcastle     Man United     4     3    8    8
42  2001-09-16    Aston Villa     Sunderland     0     0    6    7
43  2001-09-16       Charlton          Leeds     0     2    4    8
44  2001-09-16        Ipswich      Blackburn     1     1    4    4
45  2001-09-16      Tottenham        Chelsea     2     3    5    8
46  2001-09-17      Leicester  Middlesbrough     1     2    4    0
47  2001-09-19      Blackburn         Bolton     1     1    4   10
48  2001-09-19     Sunderland      Tottenham     1     2    7    5
49  2001-09-22        Arsenal         Bolton     1     1    7   10
50  2001-09-22      Blackburn        Everton     1     0    5    7
51  2001-09-22      Leicester         Fulham     0     0    4    5
52  2001-09-22      Liverpool      Tottenham     1     0    9    5
53  2001-09-22     Man United        Ipswich     4     0    8    5
54  2001-09-22     Sunderland       Charlton     2     2    8    5
55  2001-09-23        Chelsea  Middlesbrough     2     2    9    3
56  2001-09-23          Leeds          Derby     3     0   11    5
57  2001-09-23       West Ham      Newcastle     3     0    5    8
58  2001-09-24    Southampton    Aston Villa     1     3    3    9
59  2001-09-26      Newcastle      Leicester     1     0    8    4

GET TEAM FORM: 
-> 9 mit 10 ersetzen!

In [269]:
def get_form(playing_stat,num):
    form = get_matchres(playing_stat)
    form_final = form.copy()
    for i in range(num,39):
        form_final[i] = ''
        j = 0
        while j < num:
            form_final[i] += form[i-j]
            j += 1           
    return form_final

def add_form(playing_stat,num):
    form = get_form(playing_stat,num)
    h = ['M' for i in range(num * 10)]  # since form is not available for n MW (n*10)
    a = ['M' for i in range(num * 10)]
    
    j = num
    for i in range((num*10),380):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        
        past = form.loc[ht][j]               # get past n results
        h.append(past[num-1])                    # 0 index is most recent
        
        past = form.loc[at][j]               # get past n results.
        a.append(past[num-1])                   # 0 index is most recent
        
        if ((i + 1)% 10) == 0:
            j = j + 1

    playing_stat['HM' + str(num)] = h                 
    playing_stat['AM' + str(num)] = a

    
    return playing_stat


def add_form_df(playing_statistics):
    playing_statistics = add_form(playing_statistics,1)
    playing_statistics = add_form(playing_statistics,2)
    playing_statistics = add_form(playing_statistics,3)
    playing_statistics = add_form(playing_statistics,4)
    playing_statistics = add_form(playing_statistics,5)
    return playing_statistics

In [270]:
# Make changes to df
playing_statistics_1 = add_form_df(playing_statistics_1)
playing_statistics_2 = add_form_df(playing_statistics_2)
playing_statistics_3 = add_form_df(playing_statistics_3)
#playing_statistics_4 = add_form_df(playing_statistics_4)
#playing_statistics_5 = add_form_df(playing_statistics_5)
playing_statistics_6 = add_form_df(playing_statistics_6)
playing_statistics_7 = add_form_df(playing_statistics_7)
playing_statistics_8 = add_form_df(playing_statistics_8)
playing_statistics_9 = add_form_df(playing_statistics_9)
playing_statistics_10 = add_form_df(playing_statistics_10)
playing_statistics_11 = add_form_df(playing_statistics_11)
playing_statistics_12 = add_form_df(playing_statistics_12)
playing_statistics_13 = add_form_df(playing_statistics_13)
playing_statistics_14 = add_form_df(playing_statistics_14)
playing_statistics_15 = add_form_df(playing_statistics_15)
playing_statistics_16 = add_form_df(playing_statistics_16)
playing_statistics_17 = add_form_df(playing_statistics_17)
playing_statistics_18 = add_form_df(playing_statistics_18)
playing_statistics_19 = add_form_df(playing_statistics_19)
playing_statistics_20 = add_form_df(playing_statistics_20)

<ipython-input-269-7790a7af0e3e>:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['HM' + str(num)] = h
<ipython-input-269-7790a7af0e3e>:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['AM' + str(num)] = a

Get MatchWeek:

In [271]:
def get_mw(playing_stat):
    j = 1
    MatchWeek = []
    for i in range(380):
        MatchWeek.append(j)
        if ((i + 1)% 10) == 0:
            j = j + 1
    playing_stat['MW'] = MatchWeek
    return playing_stat

In [272]:
playing_statistics_1 = get_mw(playing_statistics_1)
playing_statistics_2 = get_mw(playing_statistics_2)
playing_statistics_3 = get_mw(playing_statistics_3)
#playing_statistics_4 = get_mw(playing_statistics_4)
#playing_statistics_5 = get_mw(playing_statistics_5)
playing_statistics_6 = get_mw(playing_statistics_6)
playing_statistics_7 = get_mw(playing_statistics_7)
playing_statistics_8 = get_mw(playing_statistics_8)
playing_statistics_9 = get_mw(playing_statistics_9)
playing_statistics_10 = get_mw(playing_statistics_10)
playing_statistics_11 = get_mw(playing_statistics_11)
playing_statistics_12 = get_mw(playing_statistics_12)
playing_statistics_13 = get_mw(playing_statistics_13)
playing_statistics_14 = get_mw(playing_statistics_14)
playing_statistics_15 = get_mw(playing_statistics_15)
playing_statistics_16 = get_mw(playing_statistics_16)
playing_statistics_17 = get_mw(playing_statistics_17)
playing_statistics_18 = get_mw(playing_statistics_18)
playing_statistics_19 = get_mw(playing_statistics_19)
playing_statistics_20 = get_mw(playing_statistics_20)

<ipython-input-271-4940c39006da>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['MW'] = MatchWeek

In [273]:
playing_statistics_2

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HS,AS,HST,AST,...,AM1,HM2,AM2,HM3,AM3,HM4,AM4,HM5,AM5,MW
0,2001-08-18,Charlton,Everton,1,2,A,8,12,4,9,...,M,M,M,M,M,M,M,M,M,1
1,2001-08-18,Derby,Blackburn,2,1,H,7,14,3,4,...,M,M,M,M,M,M,M,M,M,1
2,2001-08-18,Leeds,Southampton,2,0,H,16,11,6,6,...,M,M,M,M,M,M,M,M,M,1
3,2001-08-18,Leicester,Bolton,0,5,A,6,18,1,8,...,M,M,M,M,M,M,M,M,M,1
4,2001-08-18,Liverpool,West Ham,2,1,H,9,3,6,3,...,M,M,M,M,M,M,M,M,M,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,2002-05-11,Liverpool,Ipswich,5,0,H,15,7,8,2,...,L,L,W,W,L,W,L,W,D,38
376,2002-05-11,Man United,Charlton,0,0,D,13,11,6,6,...,D,W,L,W,D,W,L,W,L,38
377,2002-05-11,Southampton,Newcastle,3,1,H,7,16,3,8,...,W,L,D,D,W,W,W,L,D,38
378,2002-05-11,Sunderland,Derby,1,1,D,26,5,12,3,...,L,L,L,L,L,L,L,W,L,38
379,2002-05-11,West Ham,Bolton,2,1,H,17,10,10,4,...,L,L,L,W,D,D,W,W,L,38

FINAL DATAFRAME

In [274]:
playing_stat = pd.concat([playing_statistics_1,
                          playing_statistics_2,
                          playing_statistics_3,
                          #playing_statistics_4,
                          #playing_statistics_5,
                          playing_statistics_6,
                          playing_statistics_7,
                          playing_statistics_8,
                          playing_statistics_9,
                          playing_statistics_10,
                          playing_statistics_11,
                          playing_statistics_12,
                          playing_statistics_13,
                          playing_statistics_14,
                          playing_statistics_15,
                          playing_statistics_16,
                          playing_statistics_17,
                          playing_statistics_18,
                          playing_statistics_19,
                          playing_statistics_20,], ignore_index=True)

In [275]:
playing_stat

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HS,AS,HST,AST,...,AM1,HM2,AM2,HM3,AM3,HM4,AM4,HM5,AM5,MW
0,2000-08-19,Charlton,Man City,4.0,0.0,H,17.0,8.0,14.0,4.0,...,M,M,M,M,M,M,M,M,M,1
1,2000-08-19,Chelsea,West Ham,4.0,2.0,H,17.0,12.0,10.0,5.0,...,M,M,M,M,M,M,M,M,M,1
2,2000-08-19,Coventry,Middlesbrough,1.0,3.0,A,6.0,16.0,3.0,9.0,...,M,M,M,M,M,M,M,M,M,1
3,2000-08-19,Derby,Southampton,2.0,2.0,D,6.0,13.0,4.0,6.0,...,M,M,M,M,M,M,M,M,M,1
4,2000-08-19,Leeds,Everton,2.0,0.0,H,17.0,12.0,8.0,6.0,...,M,M,M,M,M,M,M,M,M,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6835,2020-07-26,Leicester,Man United,0.0,2.0,A,14.0,7.0,3.0,3.0,...,D,W,W,L,D,D,W,W,W,38
6836,2020-07-26,Man City,Norwich,5.0,0.0,H,31.0,5.0,10.0,4.0,...,L,W,L,W,L,W,L,L,L,38
6837,2020-07-26,Newcastle,Liverpool,1.0,3.0,A,3.0,14.0,2.0,6.0,...,W,L,L,L,D,L,W,D,W,38
6838,2020-07-26,Southampton,Sheffield United,3.0,1.0,H,13.0,5.0,4.0,3.0,...,L,D,L,D,W,D,W,W,D,38
6839,2020-07-26,West Ham,Aston Villa,1.0,1.0,D,10.0,13.0,1.0,4.0,...,W,W,D,W,W,L,L,D,L,38

In [276]:
# Gets the form points.
def get_form_points(string):
    sum = 0
    for letter in string:
        sum += get_points(letter)
    return sum

playing_stat['HTFormPtsStr'] = playing_stat['HM1'] + playing_stat['HM2'] + playing_stat['HM3'] + playing_stat['HM4'] + playing_stat['HM5']
playing_stat['ATFormPtsStr'] = playing_stat['AM1'] + playing_stat['AM2'] + playing_stat['AM3'] + playing_stat['AM4'] + playing_stat['AM5']

playing_stat['HTFormPts'] = playing_stat['HTFormPtsStr'].apply(get_form_points)
playing_stat['ATFormPts'] = playing_stat['ATFormPtsStr'].apply(get_form_points)

# Identify Win/Loss Streaks if any.
def get_3game_ws(string):
    if string[-3:] == 'WWW':
        return 1
    else:
        return 0
    
def get_5game_ws(string):
    if string == 'WWWWW':
        return 1
    else:
        return 0
    
def get_3game_ls(string):
    if string[-3:] == 'LLL':
        return 1
    else:
        return 0
    
def get_5game_ls(string):
    if string == 'LLLLL':
        return 1
    else:
        return 0
    
playing_stat['HTWinStreak3'] = playing_stat['HTFormPtsStr'].apply(get_3game_ws)
playing_stat['HTWinStreak5'] = playing_stat['HTFormPtsStr'].apply(get_5game_ws)
playing_stat['HTLossStreak3'] = playing_stat['HTFormPtsStr'].apply(get_3game_ls)
playing_stat['HTLossStreak5'] = playing_stat['HTFormPtsStr'].apply(get_5game_ls)

playing_stat['ATWinStreak3'] = playing_stat['ATFormPtsStr'].apply(get_3game_ws)
playing_stat['ATWinStreak5'] = playing_stat['ATFormPtsStr'].apply(get_5game_ws)
playing_stat['ATLossStreak3'] = playing_stat['ATFormPtsStr'].apply(get_3game_ls)
playing_stat['ATLossStreak5'] = playing_stat['ATFormPtsStr'].apply(get_5game_ls)

playing_stat.keys()

Index(['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HS', 'AS',
       'HST', 'AST', 'HC', 'AC', 'HF', 'AF', 'HY', 'AY', 'HR', 'AR', 'HTGS',
       'ATGS', 'HTGC', 'ATGC', 'AGHSF', 'AGASF', 'AGHSC', 'AGASC', 'AGHSTF',
       'AGASTF', 'AGHSTC', 'AGASTC', 'AGHF', 'AGAF', 'AGHCF', 'AGACF', 'AGHCC',
       'AGACC', 'AGHY', 'AGAY', 'AGHR', 'AGAR', 'HTP', 'ATP', 'HM1', 'AM1',
       'HM2', 'AM2', 'HM3', 'AM3', 'HM4', 'AM4', 'HM5', 'AM5', 'MW',
       'HTFormPtsStr', 'ATFormPtsStr', 'HTFormPts', 'ATFormPts',
       'HTWinStreak3', 'HTWinStreak5', 'HTLossStreak3', 'HTLossStreak5',
       'ATWinStreak3', 'ATWinStreak5', 'ATLossStreak3', 'ATLossStreak5'],
      dtype='object')

In [277]:
# Get Goal Difference
playing_stat['HTGD'] = playing_stat['HTGS'] - playing_stat['HTGC']
playing_stat['ATGD'] = playing_stat['ATGS'] - playing_stat['ATGC']

# Diff in points
playing_stat['DiffPts'] = playing_stat['HTP'] - playing_stat['ATP']
playing_stat['DiffFormPts'] = playing_stat['HTFormPts'] - playing_stat['ATFormPts']

# Diff in Shots fired
playing_stat['HTSD'] = playing_stat['AGHSF'] - playing_stat['AGHSC']
playing_stat['ATSD'] = playing_stat['AGASF'] - playing_stat['AGASC']

# Diff in shots on target
playing_stat['HTSTD'] = playing_stat['AGHSTF'] - playing_stat['AGHSTC']
playing_stat['ATSTD'] = playing_stat['AGASTF'] - playing_stat['AGASTC']

# Diff in corners
playing_stat['HTCD'] = playing_stat['AGHCF'] - playing_stat['AGHCC']
playing_stat['ATCD'] = playing_stat['AGACF'] - playing_stat['AGACC']

In [278]:
# Datensatz nicht gescaled
#playing_stat_raw = playing_stat
#playing_stat_raw.to_csv(loc + "2019_2020_ingame_1und2_raw.csv")

In [279]:
# Scale DiffPts , DiffFormPts, HTGD, ATGD by Matchweek.
cols = ['HTGD','ATGD','DiffPts','DiffFormPts','HTP','ATP', "HTSD", "ATSD", "HTSTD", "ATSTD", "HTCD", "ATCD",
        "AGHY", "AGHR", "AGAR", "AGHF", "AGAF", "AGAY", 'AGHSF','AGASF', 'AGHSC', 'AGASC', 'AGHSTF', 'AGASTF', 
        'AGHSTC', 'AGASTC', 'AGHCF', 'AGACF', 'AGHCC', 'AGACC']
playing_stat.MW = playing_stat.MW.astype(float)

for col in cols:
    playing_stat[col] = playing_stat[col] / playing_stat.MW

In [280]:
playing_stat.MW

0        1.0
1        1.0
2        1.0
3        1.0
4        1.0
        ...
6835    38.0
6836    38.0
6837    38.0
6838    38.0
6839    38.0
Name: MW, Length: 6840, dtype: float64

In [281]:
playing_stat

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HS,AS,HST,AST,...,HTGD,ATGD,DiffPts,DiffFormPts,HTSD,ATSD,HTSTD,ATSTD,HTCD,ATCD
0,2000-08-19,Charlton,Man City,4.0,0.0,H,17.0,8.0,14.0,4.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2000-08-19,Chelsea,West Ham,4.0,2.0,H,17.0,12.0,10.0,5.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,2000-08-19,Coventry,Middlesbrough,1.0,3.0,A,6.0,16.0,3.0,9.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,2000-08-19,Derby,Southampton,2.0,2.0,D,6.0,13.0,4.0,6.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,2000-08-19,Leeds,Everton,2.0,0.0,H,17.0,12.0,8.0,6.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6835,2020-07-26,Leicester,Man United,0.0,2.0,A,14.0,7.0,3.0,3.0,...,0.736842,0.736842,-0.026316,-0.105263,3.947368,4.289474,1.394737,2.315789,1.236842,0.473684
6836,2020-07-26,Man City,Norwich,5.0,0.0,H,31.0,5.0,10.0,4.0,...,1.631579,-1.157895,1.500000,0.315789,11.578947,-4.500000,3.736842,-2.026316,5.026316,-2.500000
6837,2020-07-26,Newcastle,Liverpool,1.0,3.0,A,3.0,14.0,2.0,6.0,...,-0.473684,1.315789,-1.368421,-0.210526,-4.236842,6.210526,-1.710526,3.105263,-2.605263,2.526316
6838,2020-07-26,Southampton,Sheffield United,3.0,1.0,H,13.0,5.0,4.0,3.0,...,-0.289474,0.052632,-0.131579,0.052632,1.052632,-1.789474,0.315789,-0.631579,-0.552632,0.052632
6839,2020-07-26,West Ham,Aston Villa,1.0,1.0,D,10.0,13.0,1.0,4.0,...,-0.342105,-0.684211,0.105263,0.026316,-2.131579,-3.973684,-0.605263,-1.000000,-0.578947,-1.289474

In [282]:
playing_stat.to_csv(loc + "final_dataset_premier.csv")
# playing_stat_test.to_csv(loc+"test.csv")